.sectionTitle {
    font-weight: 300;
    font-family: 'Julius Sans One', cursive;
    font-size: 2.0em;margin-bottom: 1em;
}
.blogTitle {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    margin-bottom: .5em;
}